<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to our page Guys!!!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias veniam velit, repellendus incidunt necessitatibus atque, nulla dolor praesentium accusamus sint odit nesciunt nobis minus. Alias nemo ipsum sapiente qui, officia sequi laborum quam velit rerum exercitationem hic tempora esse modi, est at odit dignissimos aut?

    </p>
   <h1>interpolition syntax:</h1> 
    <h4><%= 6*5 %></h4>
    <h4><%= "divyanshi rocks Everybody Shocks!!".toUpperCase() %></h4>
    <button>click me</button>
</body>
</html>